__pycache__/
.idea/
.run
src/monarchs/plots/outputs/
venv/
data/*.tif
data/*.jpg
!src/monarchs/data/ERA5_small.nc
*.gif
*.jpg
*.nc
docs/build
temp/
*.png
plots/
validation/
dist/
.run/
data/RACMO_temp.nc
data/ERA5_data_subset.nc