__pycache__/
.idea/
.run
progress/
src/monarchs/plots/outputs/
venv/
src/monarchs/data/RACMO_temp.nc
src/monarchs/data/ERA5_data_subset.nc
data/*.tif
data/*.jpg
!src/monarchs/data/ERA5_small.nc
*.gif
*.jpg
*.m
*.pkl
*.tif
*.npy
*.tar.gz
*.dat
lockfile
progress.pkl
*.nc
docs/build
run_model_1d.py
run_model_2d.py
temp/
*.png
*.drawio
geotiff_test.py
plots/
validation/
dist/
.run/
data/RACMO_temp.nc
data/ERA5_data_subset.nc