__pycache__/
.idea/
.run
progress/
src/monarchs/plots/outputs/
venv/
src/monarchs/DEM/38_12_32m_v2.0
src/monarchs/data/RACMO_temp.nc
src/monarchs/data/ERA5_data_subset.nc
src/monarchs/data/38_12_32m_v2.0_meta.txt
data/*.tif
data/*.jpg
plots/
DEM/38_12_32m_v2.0/
DEM/42_07_32m_v2.0/
DEM/geotiff_test.py
*.gif
*.jpg
*.m
*.pkl
*.tif
*.npy
*.tar.gz
*.dat
lockfile
progress.pkl
*.nc
run_model_1d.py
run_model_2d.py
temp/
create_flowchart.py
scripts/netcdf_1d_to_csv.py
geotiff_test.py
docs/build
!data/ERA5_small.nc
dist/
validation/*.png
validation/AntarcticLakes/
model_setup.py