__pycache__/
.idea/
.run
src/monarchs/plots/outputs/
venv/
data/*.tif
data/*.jpg
plots/
DEM/38_12_32m_v2.0/
DEM/42_07_32m_v2.0/
DEM/geotiff_test.py
*.gif
*.jpg
*.tif
*.dat
*.nc
*.pkl
create_flowchart.py
scripts/netcdf_1d_to_csv.py
docs/build
!data/ERA5_small.nc
dist/
validation/*.png
validation/AntarcticLakes/
src/model_setup.py
examples/*/output/