numpy==1.26.3
scipy==1.12.0
# optional requirement for running in parallel without MPI or Numba
pathos==0.3.2
# optional requirement for loading in ERA5 climatology data
netCDF4==1.6.5
# optional requirements for loading in DEM data
Pillow==10.3.0
imagecodecs
# optional requirement for outputting model progress
h5py==3.11.0
# optional requirements for Numba compatibility
numba==0.59
# optional requirement for plotting
matplotlib==3.8.2
#mayavi==4.8.1
cartopy
pyproj
rioxarray

dask

